<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body ng-controller="RegisterCtrl">
<div class="container">
	<div class="jumbotron col-md-6 col-md-offset-3" style="padding-top: 0; padding-bottom: 0;">
		<h2>WebApp Registration Page</h2>
	</div>
	<form role="form" name="regForm" novalidate="">
		<div class="form-group col-md-6 col-md-offset-3" ng-class="{'has-error': regForm.email.$invalid && regForm.email.$touched}">
			<label for="email">Email Address</label>
			<input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email Address" required="" />
			<small class="help-block" ng-show="regForm.email.$invalid && regForm.email.$touched">Please enter an Email Address</small>
		</div>
		<div class="form-group col-md-6 col-md-offset-3" ng-class="{'has-error': regForm.password.$invalid && regForm.password.$touched}">
			<label for="password">Password</label>
			<input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required="" ng-minlength = 8 />
			<small class="help-block" ng-show="regForm.password.$error.minlength && regForm.password.$touched">Password must be atleast 8 characters.</small>
		</div>
		<div class="checkbox col-md-6 col-md-offset-3">
			<label><a href="#/home">Sign In</a></label>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p ng-show="errMsg" style="color: red;">{{errorMessage}}</p>
			<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="regForm.$invalid" ng-click="signUp()">Sign Up</button>
		</div>
	</form>
</div>
</body>
</html>